/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
header {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin: 2rem 2rem;
}

nav {
    display:flex;
    align-items:center;
    gap:1.2rem;
}

.card-container {
    display:flex;
}

.card {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:.5rem;
}

.features {
    display:flex;
    margin:.5rem;
}

.feature-item {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin:.5rem;
}
.feature-item p {
   text-align: center;
}

.footer-content {
    display:flex;
    align-items:flex-start;
    margin:.5rem;
}

.footer-section {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    text-align:left;
    padding-right:5rem;
    margin:0rem 1rem
}

.social-links{
    display:flex;
    gap:1rem;
}

.footer-bottom {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
}
/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


