/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
header {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin: 2rem 2rem;
}

nav {
    display:flex;
    align-items:center;
    gap:1.2rem;
}

.card-container {
    display:flex;
}

.card {
    display:flex;
    flex-direction:column;
    align-items:center;

}

.features {
    display:flex;
    justify-content:space-around;
}
.feature-item {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


